doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Please wait... loading

    link(rel='stylesheet', type='text/css', href='build/build.css')

  style.
    .hello {
      background-image: url('images/hello-tharr.gif')
    }
    .gethere {
      background-image: url('images/gethere.gif')
    }
    .package {
      background-image: url('images/package.gif')
    }
    .universe {
      background-image: url('images/universe.gif')
    }
    .babel {
      background-image: url('images/babel.gif')
    }
    .loader {
      background-image: url('images/loader.gif')
    }
    .ethics {
      background-image: url('images/ethics.jpg')
    }
    .computing {
      background-image: url('images/computing.gif')
    }
    .shirley {
      background-image: url('images/shirley.jpg')
    }
    .head-vs-heart {
      background-image: url('images/headvsheart.jpg')
    }
    .cambridge {
      background-image: url('images/cambridge.png')
    }
    .christopher-wylie {
      background-image: url('images/christopher-wylie.jpg')
    }
    .airbag {
      background-image: url('images/airbag.jpg')
    }
    .storytelling {
      background-image: url('images/storytelling.jpg')
    }
    .airbag-patent {
      background-image: url('images/airbag-1.png')
    }
    .airbag-old {
      background-image: url('images/airbag-2.jpg')
    }
    .iron-ring {
      background-image: url('images/iron-ring.jpg')
    }

  body

    article

      section
        img(src="images/splash.png")
        h4
          a(href='https://twitter.com/MylesBorins') @MylesBorins
        p  JSConf US 2018
        
      section(data-bespoke-backdrop='hello')
        h1 This again?
        
      section
        h1 My Name is Myles
        img.headroom(src='images/me.jpg' alt='itsa me!' width='200px' height='200px')
      
      section
        h3 I am gainfully employed by Google as a Developer Advocate
        h4 Focusing on the Node.js ecosystem and GCP
        
        img(src='images/gcp.png' alt='Google Cloud Platform' style='background-color:white;')
        
        h5.headroom The opinions expressed in this talk are solely my own

      section
        h1 📛 WARNING 📛
        h3.headroom Sensitive Content

      section(data-bespoke-backdrop='computing')
        h1 computing

      section
        img(src='images/computing-definition.png' alt='definition of computing' width="75%")

      section
        h1 What's a computer?

      section
        h2 computer?
        img.headroom(src='images/computer-0.jpg' alt='Human Computers' width="75%")

      section
        h2 computer?
        img.headroom(src='images/computer-1.jpg' alt='calculator' width="50%")

      section
        h2 computer?
        img.headroom(src='images/computer-2.jpg' alt='old school desktop' width="50%")

      section
        h2 computer?
        img.headroom(src='images/computer-4.jpg' alt='servers' width="50%")

      section
        h2 computer?
        img.headroom(src='images/computer-3.jpg' alt='smart watch' width="50%")

      section
        h2 computer?
        img.headroom(src='images/computer-5.jpg' alt='furby' width="50%")

      section(data-bespoke-backdrop='ethics')

      section
        img(src='images/ethics-definition.png' alt='definition of ethics from google' width="75%")

      section
        h1 Meta Ethics
        p.headroom.squeeze
          | the attempt to answer the
          | fundamental philosophical questions about the nature of
          | ethical theory itself

      section
        h1 Is truth good?

      section
        h1 Normative Ethics
        p.headroom.squeeze
          | the study of what makes actions right or wrong,
          | what makes situations or events good
          | or bad and what makes people virtuous or vicious

      section
        h1 You should not lie

      section
        h1 Applied Ethics
        p.headroom.squeeze
          | consists in the attempt to answer difficult
          | moral questions actual people face in their lives.

      section
        h1 What standards should news organizations be held accountable to

      section(data-bespoke-backdrop='cambridge')
        h1 Cambridge Analytica

      section
        h2 What you need to know
        ul.cleaned-up
          li.hide
          li Political data firm hired by Trump Administration and Leave.EU
          li Gained access to private information on more than 80 million Facebook Accounts
          li Data was acquired from an external researcher
          li Researcher had told facebook that data was used for academic purposes
          li Banned from facebook platform
          li Criminal investigations open in both USA and Britain
          li Filed for insolvency in May 2018

      section(data-bespoke-backdrop='christopher-wylie')
        h1 Christopher Wylie

      section
        h1 Intent vs Result

      section(data-bespoke-backdrop='airbag')
        h1 Air Bags

      section(data-bespoke-backdrop='storytelling')
        h1 I had heard a story

      section(data-bespoke-backdrop='airbag-patent')
        h1 First Patent introduced in the 50s

      section(data-bespoke-backdrop='airbag-old')
        h1 Started to be deployed in the 70s

      section
        h2 Legislation around airbags bounced around the courts during the 70s and 80s

      section
        h3 In 1991 airbags became mandatory.
        h2 To be in all new cars by 1997

      section
        h2 Total Fatalities
        img.headroom(src='images/total-fatalities.png' alt='total fatalities in car crashes' width="75%")
        p.headroom http://www.iihs.org/

      section
        h2 Total Fatalities by gender
        img.headroom(src='images/airbag-death-gender.png' alt='total fatalities in car crashes by gender' width="75%")
        p.headroom http://www.iihs.org/

      section
        h2 Fatality reduction
        img.headroom(src='images/Fatality-reduction.png' alt='reduction due to airbags' width="60%")
        p.headroom DOT HS 808 470
        
      section
        h1 11%

      section
        h3 NHTSA estimates that as of 2015
        h2 44,869 lives have been saved by frontal airbags

      section
        h3 NHTSA estimates that during 1990-2008
        h2 more than 290 deaths were caused by frontal airbag 
        h3 in low speed crashes
      
      section
        h1 Nearly 90% vehicles made before 1998

      section
        h1 Nearly 80% unrestrained individuals
      
      section
        h3 Most deaths passengers
        h2 90% of them children

      section
        h1 We can always do better

      section
        h1 Intent vs Result

      section
        h1 Unconscious Bias

      section
        h1 Systems inherit the bias of their creators

      section(data-bespoke-backdrop='shirley')
        h1 The Shirley Card

      section
        img(src='images/sensor-2.png' alt='US Patent US5428402A' width="75%")

      section
        img(src='images/gold-max.jpg' alt='Kodak Gold Max' width="75%")

      section
        img(src='images/multirace.jpg' alt='Multi Racial Shirly' width="75%")

      section
        h1 gender shades
        h2.headroom Joy Buolamwini (@jovialjoy)

      section
        img(src='images/gender-shades-1.png' alt='Gender Shades' width="75%")
        p.headroom http://gendershades.org/overview.html

      section
        img(src='images/gender-shades-2.png' alt='Gender Shades' width="75%")
        p.headroom http://gendershades.org/overview.html

      section
        img(src='images/gender-shades-3.png' alt='Gender Shades' width="75%")
        p.headroom http://gendershades.org/overview.html

      section
        img(src='images/gender-shades-4.png' alt='Gender Shades' width="75%")
        p.headroom http://gendershades.org/overview.html

      section
        img(src='images/gender-shades-5.png' alt='Gender Shades' width="75%")
        p.headroom http://gendershades.org/overview.html

      section
        img(src='images/gender-shades-6.png' alt='Gender Shades' width="75%")
        p.headroom http://gendershades.org/overview.html

      section
        h1 This is the result of unconscious bias

      section
        h2 Good Intent
        h3 with a
        h2 Bad Result

      section
        h1 What is the ethical thing to do?

      section
        h2 Who are we,
        h2 to make these decisions?

      section
        h2 Do we judge
        h2 by consequences?

      section
        h2 Is our aim to
        h2 follow the law?

      section(data-bespoke-backdrop='iron-ring')
        h1 The iron ring

      section
        h2 ACM Code of Ethics
        h3 https://www.acm.org/code-of-ethics

      section
        h2 Google's AI principles
        h3 https://www.blog.google/technology/ai/ai-principles/

      section(data-bespoke-backdrop='head-vs-heart')
        h1 Reflective Equilibrium

      section
        h2 Neil Postman's 6 Questions
        ul.cleaned-up
          li.hide
          li What is the problem to which this technology is the solution?
          li Whose problem is it?
          li Which people and what institutions will be most seriously harmed by this new technology?
          li What new problems might be created by solving the original problem?
          li What sort of people and institutions gain special economic and political power from this new technology?
          li What changes in language are being forced by these new technologies?

      section
        h1 Saying no doesn't require a model

      section
        h2 References
        #references.headroom
          :markdown
            https://www.youtube.com/watch?v=d16LNHIEJzs <br/>
            https://gizmodo.com/why-cant-this-soap-dispenser-identify-dark-skin-1797931773 <br/>
            https://www.icrac.net/open-letter-to-amazon-against-police-and-government-use-of-rekognition/ <br/>
            http://gendershades.org/ <br/>
            https://www.aclu.org/blog/privacy-technology/surveillance-technologies/amazons-face-recognition-falsely-matched-28 <br/>
            https://patents.google.com/patent/US5428402 <br/>
            https://www.acm.org/code-of-ethics <br/>
            https://ai.google/principles/ <br/>
            https://www.media.mit.edu/projects/algorithmic-justice-league/ <br/>
            https://people.umass.edu/klement/160/intro-et.pdf <br/>
            https://www.iep.utm.edu/ethics/ <br/>
            https://en.wikipedia.org/wiki/Cambridge_Analytica <br/>
            https://www.washingtonpost.com/business/economy/how-cambridge-analyticas-whistleblower-became-facebooks-unlikely-foil/2018/03/21/ccb14038-2d33-11e8-911f-ca7f68bff0fc_story.html <br/>
            https://www.thoughtco.com/history-of-airbags-1991232 <br/>
            http://www.iihs.org/iihs/topics/t/general-statistics/fatalityfacts/overview-of-fatality-facts <br/>
            http://www.iihs.org/iihs/topics/t/airbags/qanda#airbags

      section
        h2 Thank You
        img.headroom(src='images/best-gif-evar.gif' alt='a surfing puppy' width='20%')
        h4 @MylesBorins

    script(src='build/build.js')
